@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Lilita+One&display=swap');

:root{
  --bg-color: rgb(255, 255, 255);
  --color: black;
}
.dark-mode{
  --bg-color: #1a1625;
  --color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

.hero-section {
  height: auto;
}


.navbar {
  position: fixed;
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  color: var(--color);
  background-color: var(--bg-color);
  z-index: 999;
}

/*====dropdown=====*/
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  margin-top: 5px;
  background-color: var(--bg-color);
  color: #333;
  backdrop-filter: blur(10px);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropbtn {
  font-size: 18px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border: 2px solid black;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*====dropdown=====*/

.navbar .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width : 100%
}

.navbar-logo img {
  height: 50px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.navbar-menu li {
  margin: 10px 10px;
}

.navbar-menu li:hover {
  border-bottom: 0.1875em solid #000000;
  transition: .1s;
}
.dark-light{
  cursor:pointer;
  margin:0 2rem;
}
.navbar-menu li a {
  text-decoration: none;
  color: var(--color);
  font-size: 18px;
  font-weight: 500;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hamburger .line{
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger.active .line:first-child {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:last-child {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}


.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

/* Media Queries */

@media (max-width: 768px) {

  .navbar-menu {
    position: absolute;
    top: 80%;
    
    width: 324px; 
    height: 180px;
    border-radius: 10px;
    border: 1px solid var(--color);
    background-color: var(--bg-color); 
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .navbar-menu li{
    margin-top: 10px;
  }
  .navbar-menu li a{
    color: var(--color);
  }
  svg{
    margin: 10px 10px;
    color: var(--color);
  }

  .navbar-menu.active {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .hamburger .line{
    color: var(--color);
  }
  .dark-light{
    margin-right: 3rem
  }
 }



.gallery {
  width: 100%;
  height: 70vh;
  position: relative;
}

.gallery .photos {
  position: relative;
  height: 100%;
}

.gallery .block {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.gallery .buttons {
  position: absolute;
  width: 100%;
  top: 45%;
  font-size: 24px;
}

.gallery .buttons .prev {
  border-radius: 0 3px 3px 0;
  float: left;
}

.gallery .buttons .next {
  border-radius: 3px 0 0 3px;
  float: right;
}

.gallery .buttons a {
  z-index: 4;
  position: relative;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.25);
  text-decoration: none;
  display: inline-block;
  padding: 16px 16px;
}

.gallery .block.active {
  opacity: 1;
}


.title {
  font-size: 2em;
  font-family: "Lilita One", sans-serif;
  opacity: 0.8;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}


h2{
  text-align: center;
}

p {
  padding: 20px;
  text-align: justify;
}
img{
  border-radius: 10px;
}
img:hover{
  opacity: 0.7;
}

#menu-categories {
  background: var(--bg-color);
  overflow-y: hidden;
  overflow-x: auto;
	-webkit-overflow-scrolling:touch;
		&::-webkit-scrollbar {
		display:none;
	}
}

#menu-categories ol {
  display: flex;
  height: 100px;
  min-width: 900px;
  width: 100%;
}

@media (min-width: 768px) {
  #menu-categories ol {
    height: 200px;
    min-width: 1200px;
  }
}
#menu-categories li {
  border: 1px solid #f5f5f5;
  border-radius:7px;
  border-left: 1;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  margin-right: 10px;
  padding: 20px 0;
  align-items: center;

}
li img{
  height: 100px;
  width: 113px;
}
/* Shop by categories*/

.scpad{
  padding: 60px 20px;
}
/* Products */
.products {
  
  padding: 60px 20px;
  
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.product-item {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.product-item h2 {
  font-size: 16px;
  margin-top: 10px;
}

.product-item p {
  font-size: 12px;
  color: #666;
}
.cart{
  display: flex;
  gap: 20px;
  font-size: 1rem;
  align-items: center;
  text-align: center;
}


.product-item button {
  font-family: 'Quicksand', sans-serif;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #444;
}

/*Products */

/*  Contact */
.contact-section {
  text-align: center;
}

.contact-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 16px;
  line-height: 1.5;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.contact-section .form-group {
  margin-bottom: 15px;
}

.contact-section .form-group label {
  display: block;
  margin-bottom: 5px;
  float: left;
  font-size: 16px;
}

.contact-section .form-group input,
.contact-section .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-section .form-group textarea {
  height: 150px;
}

.contact-section button {
  font-family: 'Quicksand', sans-serif;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 2px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-section button:hover {
  background-color: #444;
}

/* ======= Footer */

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 980px;
}

.footer-logo {
  margin-bottom: 20px;
  width: 100%;
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-links,
.footer-social {
  flex: 1;
  margin-bottom: 20px;
}

.footer-links h3,
.footer-social h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 5px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ddd;
}

.footer-social i {
  margin-right: 10px;
  font-size: 20px;
}

.footer-copyright {
  margin-top: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1px;
}

.footer-copyright p {
  font-size: 14px;
}

.top a{
  text-decoration: none;
  color: #fff;
}